{{define "register"}}
  {{template "layout" .}}
{{end}}

{{define "title"}}Sign Up{{end}}

{{define "body"}}
<h2>Sign Up</h2>

{{if .Error}}
<div class="error"><strong>Error:</strong> {{.Error}}</div>
{{end}}

<form action="" method="post">
  <dl>
    <dt>Username:</dt>
    <dd><input type="text" name="newusername" size="30" value="{{.FormUsername}}"></dd>
    <dt>E-Mail:</dt>
    <dd><input type="text" name="newemail" size="30" value="{{.FormEmail}}"></dd>
    <dt>Password:</dt>
    <dd><input type="newpassword" name="password" size="30"></dd>
    <dt>Password <small>(repeat)</small>:</dt>
    <dd><input type="newpassword" name="password2" size="30"></dd>
  </dl>
  <div class="actions"><input type="submit" value="Sign Up"></div>
</form>
{{end}}
